* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('background.JPEG') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#coin {
    width: 180px; /* Увеличенная монета */
    height: auto;
    cursor: pointer;
    transition: transform 0.1s ease;
    position: relative;
    top: -30px; /* Смещение вверх */
}

.progress-container {
    width: 250px;
    height: 30px;
    background-color: #333;
    border: 2px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    border-radius: 15px;
    overflow: hidden;
}

#lock {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    z-index: 2;
}

#progress-bar {
    height: 100%;
    background-color: green;
    width: 0%;
    transition: width 0.3s ease-in-out;
}

#counter {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    z-index: 2;
}
